# Block access to the .htaccess file
<Files .htaccess>
deny from all
</Files>


# Prevent from clickjacking & XSS
<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "SAMEORIGIN0"
Header set Content-Security-Policy "script-src 'self' 'unsafe-inline' https://www.google.com"
Header always set X-XSS-Protection "1; mode=block"
Header always set X-Content-Type-Options "nosniff"
</IfModule>


# Forbid viewing of directories
Options All -Indexes


# Hide this list of files from being seen when listing a directory
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*


# Disable the server signature- helps with preformance
ServerSignature Off


# Redirect on https 
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://nooope.me/$1 [R,L]


# To send cookies with HTTPS
<IfModule mod_headers.c>
Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
Header set Set-Cookie HttpOnly;Secure
</IfModule>


# Cache Certain file types, saving bandwidth and decreasing load times
# 1 YEAR
<FilesMatch "\.(ico|pdf)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

# 1 MONTH
<FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js)$">
Header set Cache-Control "max-age=2689743, public"
</FilesMatch>

# 1 DAY
<FilesMatch "\.(xml|txt|html|php)$">
Header set Cache-Control "max-age=86400, proxy-revalidate"
</FilesMatch>


RewriteEngine On 
RewriteBase / 
RewriteRule    ^about$  about.html [L] 

# Error Pages
ErrorDocument 404 /404.html







