# Block access to the .htaccess file

<Files .htaccess>
deny from all
</Files>


# Forbid viewing of directories
Options All -Indexes


# Hide this list of files from being seen when listing a directory
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*


# Disable the server signature- helps with preformance
ServerSignature Off


# Redirect on https 
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://nooope.me/$1 [R,L]


# Cache Certain file types, saving bandwidth and decreasing load times
# 1 YEAR
<FilesMatch "\.(ico|pdf)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

# 1 MONTH
<FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js)$">
Header set Cache-Control "max-age=2689743, public"
</FilesMatch>

# 1 DAY
<FilesMatch "\.(xml|txt|html|php)$">
Header set Cache-Control "max-age=86400, proxy-revalidate"
</FilesMatch>


RewriteEngine On 
RewriteBase / 
RewriteRule    ^about$  about.html [L] 

# Error Pages
ErrorDocument 404 /404.html







